@media (max-width:575px){
    .main{
        background-image: url('https://gitlab.com/mountblue/js/social-proof-html-css/-/raw/master/images/bg-pattern-top-mobile.svg'),
        url('https://gitlab.com/mountblue/js/social-proof-html-css/-/raw/master/images/bg-pattern-bottom-mobile.svg');
        background-position: top, bottom;
        background-repeat: no-repeat, no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'League Spartan', sans-serif;
        font-size: 15px;
    }
    .header-part{
        display: flex;
        flex-direction: column;    
    }
    .header{
        color: hsl(300, 43%, 22%);
        font-size: 6vh;
        width: 80%;
        font-weight: 600;
        align-self: center;
    }
    .intro{
        color:hsl(303, 10%, 53%);
        padding: 20px;
        font-size: larger;
    }
    .ratings-container{
        display: flex;
        flex-direction: column;
        width: 98%;
    }
    .rating1, .rating2, .rating3{
        height: 12vh;
        margin-bottom: 4%;
        background-color: hsl(300, 24%, 96%);
        border-radius: 7px;
        color: hsl(300, 43%, 22%);
        font-weight: 500;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }
    .stars{
        margin-top: 2%;
    }
    .reviews-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3vh;
    }
    .review1{
        background-color: hsl(300, 43%, 22%);
        height: 29vh;
        width: 15rem;
        margin-bottom: 3%;
        border-radius: 10px;
        padding: 2rem;
    }
    .review2{
        background-color: hsl(300, 43%, 22%);
        height: 29vh;
        width: 15rem;
        margin-bottom: 3%;
        border-radius: 10px;
        padding: 2rem;
    }
    .review3{
        background-color: hsl(300, 43%, 22%);
        height: 29vh;
        width: 15rem;
        margin-bottom: 3%;
        border-radius: 10px;
        padding: 2rem;
    }
    .user-section{
        display: flex;
    }
    .user-picture{
        height: 7vh;
        border-radius: 1.6rem;
        margin-right: 1.5rem;
    }
    .detailes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 3px;
    }
    .user-name{
        color: white;
        font-weight: 500;
        margin: 2px;
    }
    .verify{
        color: hsl(333, 80%, 67%);
    }
    .comment{
        text-align: left;
        padding: 3px;
        color: hsl(300, 24%, 96%);
        font-weight: 400;
        line-height: 20px;
    }
}
@media (min-width:575px){
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3%;
    }
    .main{
        background-image: url('https://gitlab.com/mountblue/js/social-proof-html-css/raw/master/images/bg-pattern-top-desktop.svg'),
            url('https://gitlab.com/mountblue/js/social-proof-html-css/raw/master/images/bg-pattern-bottom-desktop.svg');
        background-position: top left, bottom right;
        background-repeat: no-repeat, no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'League Spartan', sans-serif;
    }
    .top-container{
        width: 90%;
        display: flex;
        justify-content:space-between;
        margin-left: 6rem;
    }
    .header-part{
        display: flex;
        flex-direction: column;
        text-align: left;  
    }
    .header{
        color: hsl(300, 43%, 22%);
        font-size: 6vh;
        font-weight: 600;
        width:60%;
    }
    .intro{
        color:hsl(303, 10%, 53%);
        width: 75%;
        font-size: 1.2rem;
    }
    .ratings-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 3rem;
        margin-left: 5rem;
    }
    .rating1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 4vh;
        width: 50%;
        margin-bottom: 3%;
        background-color: hsl(300, 24%, 96%);
        border-radius: 7px;
        color: hsl(300, 43%, 22%);
        font-weight: 500;
        padding: 10px;
        margin-left: -8rem;
    }
    .rating2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 4vh;
        width: 55%;
        margin-bottom: 3%;
        background-color: hsl(300, 24%, 96%);
        border-radius: 7px;
        color: hsl(300, 43%, 22%);
        font-weight: 500;
        padding: 10px;
        margin-left: -4rem;
    }
    .rating3{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 4vh;
        width: 52%;
        margin-bottom: 3%;
        background-color: hsl(300, 24%, 96%);
        border-radius: 7px;
        color: hsl(300, 43%, 22%);
        font-weight: 500;
        padding: 10px;
    }
    .rate-given{
        font-size: 15px;
    }
    .stars{
        margin:2%
    }
    .reviews-container{
        width: 90%;
        height: 58vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 6vh;
        margin-left: 6rem;
    }
    .review1{
        background-color: hsl(300, 43%, 22%);
        height: 23vh;
        width: 16rem;
        margin-right: 3px;
        border-radius: 10px;
        padding: 2rem;
        align-self: flex-start;
    }
    .review2{
        background-color: hsl(300, 43%, 22%);
        height: 23vh;
        width: 16rem;
        margin-bottom: 3%;
        border-radius: 10px;
        margin-right: 3px;
        padding: 2rem;
        align-self: center;
    }
    .review3{
        background-color: hsl(300, 43%, 22%);
        height: 23vh;
        width: 16rem;
        margin-bottom: 3%;
        border-radius: 10px;
        padding: 2rem;
        align-self: flex-end;
    }
    .user-section{
        display: flex;
    }
    .user-picture{
        height: 7vh;
        border-radius: 1.6rem;
        margin-right: 1.5rem;
    }
    .detailes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 3px;
    }
    .user-name{
        color: white;
        font-weight: 500;
        margin: 2px;
    }
    .verify{
        color: hsl(333, 80%, 67%);
    }
    .comment{
        text-align: left;
        padding: 3px;
        color: hsl(300, 24%, 96%);
        font-weight: 400;
        line-height: 20px;
    }
    
}
